@import 'tailwindcss';
/* @config "../tailwind.config.js"; */

/* THIS enables dark mode */
@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply transition-all duration-300;
}
::-webkit-scrollbar {
  @apply hidden;
}
