@import 'tailwindcss';
/* @config "../tailwind.config.js"; */

/* THIS enables dark mode */
@custom-variant dark (&:where(.dark, .dark *));

* {
  @apply transition-all duration-300;
}
::-webkit-scrollbar {
  @apply hidden;
}
.filter-range {
  @apply [&::-webkit-slider-thumb]:appearance-none 
                      [&::-webkit-slider-thumb]:w-5 
                      [&::-webkit-slider-thumb]:h-5 
                      [&::-webkit-slider-thumb]:bg-amber-500 
                      [&::-webkit-slider-thumb]:rounded-full 
                      [&::-webkit-slider-thumb]:border-2 
                      [&::-webkit-slider-thumb]:border-white 
                      [&::-webkit-slider-thumb]:shadow-md 
                      [&::-webkit-slider-thumb]:cursor-pointer
                      [&::-moz-range-thumb]:w-5 
                      [&::-moz-range-thumb]:h-5 
                      [&::-moz-range-thumb]:bg-amber-500 
                      [&::-moz-range-thumb]:rounded-full 
                      [&::-moz-range-thumb]:border-2 
                      [&::-moz-range-thumb]:border-white 
                      [&::-moz-range-thumb]:shadow-md 
                      [&::-moz-range-thumb]:cursor-pointer
                      [&::-moz-range-thumb]:border-none;
}
